<div id="footer">
	<p class="left">&copy; 2010 <%= link_to "EmailBlastr", root_path %></p>
	<p class="right"><a href="/pages/help">Help</a> | <a href="/pages/contact">Contact</a> | <a href="/pages/tos">Terms of service</a></p>
</div>